/*Font Families*/
/*Colors*/
html, body {
  height: 100%;
  width: 100%; }

html body {
  background-color: #F6F7F9;
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

.button {
  position: relative;
  background: linear-gradient(48deg, #9b257f 0%, #dd185f 100%);
  color: white;
  padding: 0;
  border: 0;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  transition: all .1s;
  bottom: 0px; }
  .button:hover {
    bottom: 2px; }

.button.small {
  width: 100px;
  height: 30px;
  font-size: 0.8rem; }

.button.godzilla {
  width: 300px;
  height: 55px;
  font-size: 1.3rem;
  border-radius: 100px; }

/*Font Families*/
/*Colors*/
html, body {
  height: 100%;
  width: 100%; }

html body {
  background-color: #F6F7F9;
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

.home-hoc .welcome {
  position: relative;
  height: 600px; }
  .home-hoc .welcome .welcome__image-container {
    height: inherit;
    position: absolute; }
    .home-hoc .welcome .welcome__image-container .welcome__image {
      width: 100%;
      height: inherit;
      -o-object-fit: cover;
         object-fit: cover; }
  .home-hoc .welcome .welcome__pieces {
    position: absolute;
    width: 100%;
    height: 100%; }
    .home-hoc .welcome .welcome__pieces .welcome__navigation {
      display: flex;
      position: relative;
      top: 50px;
      width: 90%;
      margin: auto;
      display: flex;
      align-items: center; }
      .home-hoc .welcome .welcome__pieces .welcome__navigation .welcome__logo-container .welcome__logo {
        width: 100px;
        height: 50px;
        -o-object-fit: cover;
           object-fit: cover; }
      .home-hoc .welcome .welcome__pieces .welcome__navigation .welcome__navigation-container {
        margin-left: auto; }
    .home-hoc .welcome .welcome__pieces .welcome__slogan-container {
      display: inline-block;
      color: #ffffff;
      position: relative;
      top: 175px;
      font-size: 4rem;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      display: flex;
      justify-content: center; }
      .home-hoc .welcome .welcome__pieces .welcome__slogan-container .welcome__slogan:nth-child(2) {
        font-weight: bold;
        text-decoration: underline;
        color: #dd185f; }
      .home-hoc .welcome .welcome__pieces .welcome__slogan-container .welcome__slogan:not(:last-child) {
        margin-right: 0.35em; }
    .home-hoc .welcome .welcome__pieces .welcome__button-container {
      position: relative;
      top: 300px; }
      .home-hoc .welcome .welcome__pieces .welcome__button-container button {
        display: block;
        margin: auto; }

.home-hoc .section {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 100px 0 100px; }
  .home-hoc .section .section__title {
    margin: auto;
    font-size: 2.5rem;
    font-weight: 300;
    color: #ABABAB; }

/*Font Families*/
/*Colors*/
.navigation-bar {
  display: flex; }
  .navigation-bar > *:not(:last-child) {
    margin-right: 75px; }

/*Font Families*/
/*Colors*/
.link a {
  font-size: 2rem;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 5px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  line-height: 24px; }
  .link a:before, .link a:after {
    content: '';
    position: absolute;
    transition: -webkit-transform .35s ease;
    transition: transform .35s ease;
    transition: transform .35s ease, -webkit-transform .35s ease; }
  .link a:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #e6e6e6;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  .link a:hover:before {
    -webkit-transform: translateX(0);
            transform: translateX(0); }

/*Font Families*/
/*Colors*/
.image-card {
  height: 500px;
  width: 400px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  cursor: pointer; }
  .image-card .image-card__image {
    height: 55%;
    width: inherit;
    -o-object-fit: cover;
       object-fit: cover; }
  .image-card .image-card__details {
    height: 45%;
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px; }
    .image-card .image-card__details .image-card__top {
      display: flex;
      height: 33%;
      align-items: center; }
      .image-card .image-card__details .image-card__top .image-card__name {
        margin-right: auto;
        font-size: 2rem;
        font-weight: 500; }
      .image-card .image-card__details .image-card__top .image-card__rating {
        margin-left: auto;
        display: flex; }
    .image-card .image-card__details .image-card__middle {
      display: flex;
      height: 33%;
      align-items: center; }
      .image-card .image-card__details .image-card__middle .image-card__tags {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: auto; }
        .image-card .image-card__details .image-card__middle .image-card__tags .image-card__tag {
          font-weight: 300;
          font-family: "Roboto Condensed";
          font-size: 1.2rem; }
        .image-card .image-card__details .image-card__middle .image-card__tags .image-card__tag:not(:last-child):after {
          content: "|";
          margin-left: 5px; }
        .image-card .image-card__details .image-card__middle .image-card__tags .image-card__tag:not(:first-child) {
          margin-left: 5px; }
    .image-card .image-card__details .image-card__bottom {
      display: flex;
      height: 33%;
      align-items: center;
      padding-bottom: 20px; }
      .image-card .image-card__details .image-card__bottom .image-card__learn-more {
        margin-top: auto;
        margin-left: auto;
        color: #dd185f;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none; }

.rating-icon-container .rating-icon-source {
  position: absolute;
  width: 0;
  top: 0; }

.rating-icon-container .rating-icons {
  height: 2em; }
  .rating-icon-container .rating-icons .rating-icon {
    fill: #DD185F;
    stroke: #DD185F;
    stroke-width: 1;
    height: 50px; }
  .rating-icon-container .rating-icons .rating-icon--empty {
    fill: none; }
  .rating-icon-container .rating-icons .rating-icon--quarter {
    fill: url(#quarterGradient); }
  .rating-icon-container .rating-icons .rating-icon--half {
    fill: url(#halfGradient); }
  .rating-icon-container .rating-icons .rating-icon--half-quarter {
    fill: url(#halfQuarterGradient); }
  .rating-icon-container .rating-icons .rating-icon--full {
    fill: url(#fullGradient); }

.ski-resort-carousel .mountains {
  display: flex;
  justify-content: center; }
  .ski-resort-carousel .mountains .mountain {
    margin-top: 50px;
    margin-left: 30px; }


