/*Font Families*/
/*Colors*/
html, body {
  height: 100%;
  width: 100%; }

html body {
  background-color: #F6F7F9;
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

.mountain-hoc {
  height: 300px;
  width: 300px; }


