.button {
    position: relative;
    background: linear-gradient(48deg, rgba(155,37,127, 1) 0%, rgba(221,24,95,1) 100%);
    color: white;
    padding: 0;
    border: 0;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    transition: all .1s;
    bottom: 0px;

    &:hover {
        bottom: 2px;
    }
}

.button.small {
    width: 100px;
    height: 30px;
    font-size: 0.8rem;
}

.button.medium {
}

.button.large {
}

.button.godzilla {
    width: 300px;
    height: 55px;
    font-size: 1.3rem;
    border-radius: 100px;
}