
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="mount">

</div>

@section AddToHead{
    <link href="~/bundles/Home.css" rel="stylesheet" />
}

@section AddToBody{
    <script src="~/bundles/Home.bundle.js"></script>
    <script src="~/bundles/vendors~Home.bundle.js"></script>
}
