
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="mount">

</div>

@section AddToHead{
    <link href="~/bundles/Home.css" rel="stylesheet" />
}

@section AddToBody{
    <script src="@System.String.Format("/bundles/{0}", System.IO.Path.GetFileName(System.IO.Directory.EnumerateFiles("wwwroot/bundles").Where(x => System.IO.Path.GetFileName(x).StartsWith("Home.bundle.")).FirstOrDefault()))"></script>
    <script src="@System.String.Format("/bundles/{0}", System.IO.Path.GetFileName(System.IO.Directory.EnumerateFiles("wwwroot/bundles").Where(x => System.IO.Path.GetFileName(x).StartsWith("vendors~Home.bundle.")).FirstOrDefault()))"></script>
}
