@import './Common/_variables.scss';

html, body {
    height: 100%;
    width: 100%;
}

html {
    body {
        background-color: $Gray;
        font-family: $FontFamilyPrimary;
        font-weight: 300;
    }
}
