/*Font Families*/
$FontFamilyPrimary: 'Roboto', sans-serif;
$FontFamilySecondary: 'Roboto Condensed', sans-serif;

/*Colors*/
$White: #ffffff;
$Gray: #F6F7F9;
$DarkGray: #ABABAB;
$Purple: #9b257f;
$Magenta: #dd185f;