<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FirstTracks</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500|Roboto+Condensed" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" rel="stylesheet" />
    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }
</head>
<body>
    @RenderBody()

    @if (IsSectionDefined("AddToBody"))
    {
        @RenderSection("AddToBody", required: false)
    }
</body>
</html>
